<div style="display:flex;flex-direction:column;align-items:center;justify-content: center;">
    <img src='./images/beer.png' style="width:25%">
    <form action="/beers">
        <button type="submit" style:"">Check the Beer!</button>
    </form>
    <form action="/random-beer">
        <button type="submit">Check a Random Beer!</button>
    </form>
</div>