<div>
    <img src='./images/beer.png'>
    <form action="/beers">
        <button type="submit">Check the Beer!</button>
    </form>
    <form action="/random-beer">
        <button type="submit">Check a Random Beer!</button>
    </form>
</div>