<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" src="../public/stylesheets/styles.css"></link>
</head>
<body>
        
<header>
    <nav>
        <ul>
            <li><a src='/'></a>Home</li>
            <li><a src='/beers'></a>Beers</li>
            <li><a src='/random-beers'></a>Random Beers</li>
        </ul>
    </nav>
</header>

{{{ body }}}

<footer>
    <h2>Develop by Ironhack :)</h2>
</footer>
</body>
</html>

